/* *{
  font-size: 18px;
} */

.contents{
  display: flex;
  padding:20px;
  padding-top: 0;
}
.container{
  padding:20px;
  padding-top:0px
}
.box{
  width:200px;
  height:auto;
  padding:10px;
  border:1px solid #dfdfdf;
  border-radius:10px;
}
input{
  border-top: 0px;
  border-right:0px;
  border-left:0px;
  font-size: 16px;
}
h1{
  color:dodgerblue;
  margin-left:35px;
}

button{
  border:none;
  background-color: transparent;
  padding: 0px;
}
#add{
  padding-bottom:0px
}
.uname{
  font-weight:600;

}
